<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurtyo</h1>
	<p>
		Splurtyo was built by <a target="_blank" href="https://github.com/jadevargas92">Jade Vargas</a>
	</p>
	<br />
	<p>
		He is an amazingly awesome web developer who is as studly as James Bond
	</p>
	<br />
	<p>
		If you want to know where Jade learned to be awesome - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>
	</p>

	<div class="col-xs-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jade Vargas</h2>
    <br />
    <p>
      Jade Vargas is on a pursuit of happiness. Programming is one of the steps along the way.
    </p>
    <p>
      Where are you located?
     </p>
     <p>
      - -Madison, WI
</p>
     <p>
      Why are you looking for a new position?
      </p>
     <p>
		---I have been at my current company for just over a year and a half. In that time I have seen 15 sales consultants, 3 different GSMs, and 2 different GMs. I attempted to stick through all the changes. As of late, however, there has been even more of a decline in sales and I feel more uneasiness with management and ownership. With no sales, the business suffers and I would rather work and be productive than waste hours of my life that I can&#39;t get back. I will never get back wasted time and that is why I am in the market for a new career, not just a position.
</p>
     <p>
      Can you summarize your remote work experience?
      </p>
     <p>
      ---Currently, I have no remote experience. However, after work 45+ hours as a technology specialist, I work from my home office on my current web app project, www.pajamwork.io. This is a one man show and I have managed to learn and produce a full functioning web app. This experience shows the dedication and focus that a prospective employee must have when working alone. Also, at Metro Ford, I was tasked with building a new accessories department in addition to my daily responsibilities. The current General Manager said &quot;This is your baby, run with it.&quot; These examples show the independence and discipline that remote work requires and how my focus will translate.
</p>
     <p>
      What should we definitely look at in your resume/work experience?
      </p>
     <p>
      ----My experience handling customers. Recently, I was promoted to delivery coordinator, which includes touching base with every customer that is sold to ensure perfect surveys. After having the patience to tailor each technology presentation to a wide variety of customers, I have the understanding that each customer needs different attention. I have been working with customers and clients for years and I also have the technical skills to be able to answer questions that customers will have.
</p>
     <p>
      What’s not on your resume/work experience but you think we should know?
      </p>
     <p>
	  ----I have been in positions that I have not been happy in. Sales is a hardgame that I am good at, but it does not make me happy. I want to be in aposition that I can help customers and chat with customers about newtechnologies. My restlessness in these positions lead to my search for apassion and that is where programming and tech companies came along. Not on my resume, I am a part time board operator/ producer for ESPN Madison and even through 60+ hours /week I still have the time to work on my own project. I love speaking to people and new technologies, I am just trying to find the right fit where my 25 year old self can get rid of a few gray hairs and be happy.
</p>
     <p>
	Can you summarize your HTML/CSS/JavaScript knowledge?
	</p>
     <p>
	---HTML and CSS are very solid. I use bootstrap to make things easier on my end and I still end look new things up. For every mistake, though, you learn new ways of how to and how not to do things which is a lesson in itself. I will be honest, my JavaScript knowledge is subpar to none. I have used it but not in any extent. That would be my biggest learning curve.
</p>
     <p>
	Why do you think you’re a good fit for this role?
	</p>
     <p>
	---My patience and experience with sales and technologies. You haven&#39;t lived until you went to greet a customer on the car lot and say &quot;Hello sir or ma&#39;am, my name is Jade, how may I assist you today?&quot; and they reply &quot;Get away from me! I don&#39;t need your help!&quot;. People are brutally honest to car salesmen. In today&#39;s technological age and the importance of reviews on Google and other sites, you HAVE to be understanding. One negative experience can ruin a business and I understand that every situation is unique. I have the programming abilities as well.
</p>
     <p>
	Anything else we should know about you?
	</p>
     <p>
	---After graduating from UW-Madison, the real world set in for having a liberal arts History B.A.. I have been in multiple sales positions where I have been stressed and frustrated due to being almost entirely commissioned based. I have a passion for being the front line for a company and helping all customers. When it is entirely commission based, however, I do get stressed. For years, I have been attempting to get out of a commission role, to no avail. When people are down in their luck, they have two routes. Either they crumble under the pressure or lift the weight up and become stronger. I can&#39;t fail and that is why I learned Ruby, HTML/CSS and other skills to take the leap into a tech company. I hope this finds you well and you give me an opportunity to be that star employee and face for your business.
</p>
     <p>
Part 3

Pre Sales
</p>
     <p>
Hello Customer, At this time, we do not support live image previews. Is this feature important enough to sway your decision on whether or not to join Product Customizer?
</p>
     <p>
Fire Alarm
Imagine you’ve just started your workday. You login and see a large number ofemails from distraught customers. Clearly, something is happening. What steps do you take?
</p>
     <p>
---1) Tell management immediately about the issues. 2) Pinpoint the customer&#39;s complaints, see if they are related, and narrow down the issue. 3) Contact the department where the issue is coming from. 4) Work together with the department and management on a game plan on how we are going to resolve the issue for the multiple customers, whether it be send a resolution email, phone calls, free &quot;xyz&quot;. 5) Contact customers with the gameplan and resolution.
</p>
     <p>
We’d like to get an idea of how you explain concepts and processes. What was the last thing your purchased online? Tell us, step-by- step, how you went about searching, choosing, and completing your purchase.
</p>
     <p>
---I suppose the last true thing I bought online was the domain name for pajamawork.io. I knew that godaddy.com was a big website for purchasing domains, something that I had never done before. I went there and searched for different domains to see pricing and was shocked that you could buy a domain for upwards of $3000 because of highly searched words. At that point, I wanted to see if it was just godaddy.com or all domain name sites that charged an increased price for high traffic words on domain names. Turns out, all of them charge a premium. I then narrowed down a name I liked and kept getting stuck on pajamwork.com, which was taken by a wordpress owner. I really wanted to go with pajamawork and so I remembered .io was an up and coming gTLD. I did a bit of research on what it meant and why tech companies were using it more and more. After deciding that .io was valuable and was available with pajamawork, I searched domain names on Google and multiple sites came up. I clicked on a few and saw pricing on the name pajamawork.io. I ended up settling with NameCheap.com because of the pricing. Following the decision to purchase, I searched google on how to set up the DNS with Heroku. That is how I decided on purchasing pajamawork.io with NameCheap.com.
    </p>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />